<div id="mainPage" class="position-relative ">
    <div class="pageBody position-relative d-flex flex-column section m-0 p-0">
        <div id="setup" class="position-relative">
            <div class="p-0 p-1">
                <div class="w-100 m-0 p-0">
                    <input type="text" class="w-100 p-0 m-0 mt-3 mb-3 pl-2 pr-2 dropdownInput headerInput" placeholder="Plan" id="planName"
                        onkeyup="workoutPlankeyUp(event)" />
                </div>
            </div>
            <div class="d-flex w-100 m-0 p-0 pl-3 pr-3">
                <input type="text" autocapitalize="word" maxlength="15" autocomplete="false"
                    class="dropdownInput m-0 mb-2" placeholder="Workout" onkeyup="workoutAddNamekeyUp(event)"
                    id="workoutInputName" />
                <input type="number" class="dropdownInput m-0 mb-2 pl-1" min="1" max="1000" placeholder="45s"
                    onkeyup="workoutAddkeyUp(event)" id="workoutInputDuration" />
                <div class="w-fit button primary position-relative fa fa-plus p-2" onclick="createWorkout()"
                    id="workoutAddButton"></div>
                <div class="w-fit button primary position-relative fa fa-lungs p-2 green" onclick="createRest()"
                    id="workoutRestButton"></div>
            </div>

        </div>


        <div id="createdWorkout" class="position-relative overflow-scroll"></div>
    </div>
    <div class="pageFooter">
        <div class="button secondary dark footerButton m-0 col square fa fa-backward" onclick="changePage('workouts', null, false)">
        </div>
        <div class="button primary dark footerButton m-0 col square fa fa-check" onclick="saveWorkout()"></div>
    </div>

</div>