#mainPage {
    width: 100%;
    overflow: hidden;
    background-color: white;
    background: url("../../assets/img/workout2.jfif");
    background-size: cover;
    font-family: dosis;
    height: 100vh;
    color: grey;
}

#workoutName {
    font-size: 2em;
}

#workoutInputDuration {
    padding-right: 2em;
    width: 40%;
}

#workoutInputName {
    width: 60%;
}

#workoutAddButton {
    margin-left: -5em;
    height: 2em;
    top: 7px;
}

#workoutRestButton {
    margin-left: 0em;
    height: 2em;
    top: 7px;
}

#createdWorkout {
    height: 100%;
    overflow-y: scroll;
}

.workoutRemoveButton {
    height: 100%;
    line-height: 2em;
    background-color: transparent!important;
    color: grey!important;
}

.workoutRemoveButton:active {
    background-color: grey!important;
}

.workoutDurationLabel {
    bottom: 0;
    right: 0;
    background-color: #18587500;
    color: #185875;
    padding: 0 5px;
    font-size: 0.9em;
    font-family: fantasy;
}

.workoutBox.rest {
    border: 1px solid #0b7c0b;
}

.workoutBox.rest .workoutElem {
    color: #0b7c0b;
    font-family: baloo;
}

.workoutsList {
    border: 1px solid #c6c6c6;
    width: calc(100% - 2px);
}