@font-face{
    font-family: karla;
    src: url("../font/Karla-Regular.ttf");
}
@font-face{
    font-family: anton;
    src: url("../font/Anton-Regular.ttf");
}
@font-face{
    font-family: dosis;
    src: url("../font/Dosis-Light.ttf");
}
@font-face{
    font-family: baloo;
    src: url("../font/BalooBhai-Regular.ttf");
}
@font-face{
    font-family: roboto;
    src: url("../font/Roboto-Regular.ttf");
}