
html {
  margin: 0px;
  padding: 0px;
  overflow: hidden !important;
}
body {
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;
  font-size: 17px;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  width: 100vw;
  overflow: hidden !important;
  display: block;
  line-height: 1.8em;
  color: #626262;
  font-family: roboto;
}
/*----------- General ----------------*/
.centerBoth {
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}
.centerVertical {
  top: 50%;
  transform: translate3d(0, -50%, 0);
}
.centerHorizontal {
  left: 50%;
  transform: translate3d(-50%, 0, 0);
}

.noAnimation {
  transition: none !important;
}
.input {
  padding: 0.6em 0 0.6em 0;
  border: none;
  background-color: rgba(0, 0, 0, 0.8);
  transition: background-color 200ms ease-out, border-bottom 400ms ease-out;
  text-align: center;
  font-family: karla;
  font-size: 1em;
}
.input:focus {
  outline: none;
  background-color: rgba(0, 0, 0, 0.65);
  border-bottom: 2px solid red;
}
.input::placeholder {
  text-align: right;
  color: rgb(168, 168, 168);
  padding: 0.5em 2em 0 2em;
  transition: color 200ms ease-out;
}
.input:focus::placeholder {
  color: transparent;
}
.input.light {
  padding: 0.6em 0 0.6em 0;
  border: none;
  background-color: #a91e22;
  transition: background-color 200ms ease-out, border-bottom 400ms ease-out;
  color: #f1bf98;
  text-align: center;
  font-family: karla;
  font-size: 1em;
}
.input.light:focus {
  background-color: #8a1014;
  border-bottom: 2px solid #d70f0f;
}
.inputClearRight {
  width: fit-content;
  margin: 0 0 0 -1em;
  display: flex;
  justify-content: center;
}
.inputClearLeft {
  width: fit-content;
  margin: 0 -1em 0 0;
  display: flex;
  justify-content: center;
}
.placeholder {
  height: min-content;
}
.placeholder::after {
  height: min-content;
  content: attr(name);
  position: absolute;
  top: -0.3em;
  left: 0.6em;
  font-size: 0.95em;
  color: lightgrey;
}
.autoHeight {
  resize: none;
  min-height: 2em;
  height: 2em;
  max-height: 25vh;
}

.button {
  background-color: rgb(207, 21, 21);
  background-color: #18b1f8;
  border: none;
  margin: 5px;
  padding: 0 5px;
  color: white;
  cursor: pointer;
  text-align: center;
  transition: background-color 250ms ease-out, box-shadow 250ms ease-out;
  border-radius: 3px;
}
.button:active{
  background-color: #0f7eb1; 
}
.button.secondary {
  background-color: #11c5a7;
}
.button.secondary:active {
  background-color: #108571;
}
.button.small {
  padding: 0;
}
.label.inp {
  padding: 2% 2% 0 2%;
  line-height: 1em;
  margin: 1em 0 0 1em;
  background-color: rgba(0, 0, 0, 0.1);
  width: fit-content;
  border-radius: 3px 3px 0 0;
}
.label {
  padding: 0em 0.3em 0em 0.3em;
  background-color: #437f97;
  color: white;
  margin-right: 1em;
  font-size: 0.85em;
}
.heading {
  color: grey;
  font-weight: 600;
  font-size: 1.1em;
  border-radius: 3px;
  padding: 1%;
  border-bottom: 1px solid;
}
.emphasis {
  color: grey;
  font-weight: 600;
  font-size: 1em;
  background-color: #fff;
  border-radius: 3px;
  width: fit-content;
  padding: 1% 3% 1% 3%;
  margin: 1%;
}

.word-break{
  word-break:break-word;
}

.note {
  font-size: 0.8em;
  font-family: heebo;
  color: #444480;
}

table {
  color: #3e3e3e;
  padding: 0.2em;
}
tr {
  padding: 0.4em;
}
td {
  text-align: center;
}
th {
  text-align: center;
  font-family: baloo;
  border-bottom: 1px solid darkgrey;
}
td.total {
  border: 1px solid #c4c4c4;
}
h1 {
  text-align: center;
  font-family: heebo;
}
.section {
  padding: 1.5em 1em 1em 1em;
  margin: 0.4em 0;
  background-color: rgba(255, 255, 255, 0.9);
  position: relative;
}
.section.inner {
  border: 1px solid lightgrey;
  padding: 0.5em;
}
.section.float {
  overflow: auto;
}
.section::before {
  content: attr(title);
  text-align: right;
  font-size: 0.9em;
  font-weight: 900;
  font-family: inconsolata;
  position: absolute;
  top: 0;
  width: unset;
  color: darkgrey;
  left: calc(100% - 1em);
  transform: translate3d(-100%, 0, 0);
  white-space: nowrap;
}
.section.title::before {
  content: attr(title);
  text-align: left;
  font-size: 1.4em;
  font-weight: 900;
  font-family: anto;
  position: absolute;
  top: 0;
  width: unset;
  color: rgb(82, 82, 82);
  left: 5%;
  transform: none;
  white-space: nowrap;
}
