<div id="workoutsPage" class="vh-100 page">
    <div id="workoutsBody" class="pageBody"></div>
    <div class="pageFooter row m-0 w-100">
        <div class="button primary footerButton m-0 col square fa fa-cogs" onclick="changePage('settings')"></div>
        <div class="button primary footerButton m-0 col square fa fa-plus" onclick="changePage('add')"></div>
    </div>
</div>