.page {
    width: 100%;
    overflow: scroll;
    background-color: white;
    background: url("../../assets/img/workout2.jfif");
    background-size: cover;
    overflow-y: scroll;
    font-family: roboto;
    color: grey;
}

.workoutsMainText {
    font-family: baloo;
}

.workoutsMainWorkouts {
    background-color: #81a2cb;
    color: white;
    padding: 0 5px;
    border-radius: 3px;
    font-family: gugi;
    font-size: 0.9em;
    height: 2em;
    position: relative;
    top: 5px;
}

.workoutsMainDuration {
    background-color: #81c1cb;
    color: white;
    padding: 0 5px;
    border-radius: 3px;
    font-family: gugi;
    font-size: 0.9em;
    height: 2em;
    position: relative;
    top: 5px;
}

.workoutsMainBody {
    max-height: 3em;
    overflow: hidden;
    transition: max-height 750ms ease-in-out;
}

.workoutsMainBody.active {
    max-height: 7em;
}

.workoutsMainBody.active>div>.fa {
    color: #81c1cb;
}

.infoIcon {
    transition: color 750ms ease-in-out;
}
