.loginViewHeader{
    color: white;
    font-size: 3em;
    font-family: KaushanScript-Regular;
    line-height: 1em;
}
.privacyPolicy{
    background-color: #e4e3e3;
    padding: 1em;
    border-radius: 4px;
    color: black;
    margin: 10px 0 4px 0!important;
}
.white{
    color: white;
}
#loginButtonContainer{
    background-color: rgba(0, 0, 0, 0.45);
    border-radius: 3px;
}
#loginButtonContainer div:first-child{
    color: rgba(255, 255, 255, 0.75);
    font-size: 0.9em;
}
#loginButtonContainer div:last-child{
    font-size: 1em;
}
.customInputCenterHoriztonal{
    left: 12.5%;
}
#loginView{
    background: url("../../assets/img/workout2.jpg");
    background-size: cover;
}