<div id="loginView" class="view position-relative bodyHeight page">
    <div class="position-relative m-0 p-0 vh-100">
        <div id="loginForm" class="position-relative centerVertical animated fadeIn">
            <div class="mb-4 text-center loginViewHeader">Sign In</div>
            <input type="email" placeholder="Email Address"
                class="dark dropdownInput m-0 w-75 position-relative centerHorizontal mt-1 mb-1" required
                result="email" />
            <div class="row w-75 position-relative centerHorizontal m-0 mb-1">
                <input type="password" placeholder="Password" class="col pr-5 dark dropdownInput m-0 m-0 showHidePassword"
                    required result="password" />
                <div class="button m-0 dark sqaure secondary"
                    style="background-color: grey;position: absolute;right: 0;top: 10px;" id="showHide_1"
                    onclick="showHidePassword('showHide_1')">
                    <i class="fa fa-eye"></i>
                </div>
            </div>
            <!-- <label class="containerCheck w-fit centerHorizontal position-relative privacyPolicy d-flex w-75">
                Agree to<a href="http://scootit.nurmaan.mauriapp.info/privacyPolicy" target="_blank"
                    class="ml-2">Privacy
                    Policy</a>
                <input type="checkbox" id="loginPrivacyPolicyCheck">
                <div class="checkmark ml-2"></div>
            </label> -->
            <div class="button m-0 dark pt-2 pb-2 position-relative centerHorizontal w-75 text-center mb-4"
                onclick="login()">Login
            </div>
            <div class="overflow-auto position-relative centerHorizontal w-75 p-1 pt-2 pb-2 white"
                id="loginButtonContainer">
                <div class="float-left" onclick="showForgotPassword()">Forgot your password?</div>
                <div class="float-right" onclick="showSignUp()">Sign Up</div>
            </div>
            <div class="skipLogin float-right button semi-round pr-4 pl-4 mr-5 mt-5 small blur" onclick="skipLogin()">Skip</div>
        </div>

        <div id="registerForm" class="position-relative centerVertical animated fadeIn d-none">
            <div class="mb-4 text-center loginViewHeader">Sign Up</div>
            <input type="text" placeholder="Full Name"
                class="dark dropdownInput m-0 w-75 position-relative centerHorizontal mt-1 mb-1" required
                result="fullName" />
            <input type="email" placeholder="Email Address"
                class="dark dropdownInput m-0 w-75 position-relative centerHorizontal mt-1 mb-1" required
                result="email" />

            <div class="row w-75 position-relative centerHorizontal m-0 mb-1">
                <input type="password" placeholder="Password" class="col dark dropdownInput m-0 m-0 showHidePassword"
                    required result="password" />
                    <div class="button m-0 dark sqaure secondary"
                    style="background-color: grey;position: absolute;right: 0;top: 10px;" id="showHide_2"
                    onclick="showHidePassword('showHide_2')">
                    <i class="fa fa-eye"></i>
                </div>
            </div>
            <!-- <label class="containerCheck position-relative w-fit centerHorizontal privacyPolicy d-flex w-75">
                Agree to<a href="http://scootit.nurmaan.mauriapp.info/privacyPolicy" target="_blank"
                    class="ml-2">Privacy
                    Policy</a>
                <input type="checkbox" id="registerPrivacyPolicyCheck">
                <div class="checkmark ml-2"></div>
            </label> -->
            <div class="button m-0 dark pt-2 pb-2 position-relative centerHorizontal w-75 text-center mb-4"
                onclick="register()">Sign
                Up
            </div>
            <div class="overflow-auto position-relative centerHorizontal w-75 p-1 pt-2 pb-2 white"
                id="loginButtonContainer">
                <div class="float-left" onclick="showForgotPassword()">Forgot your password?</div>
                <div class="float-right" onclick="showSignIn()">Sign In</div>
            </div>
        </div>

        <div id="validateEmailForm" class="position-relative centerVertical animated fadeIn d-none">
            <div class="mb-4 text-center loginViewHeader">Verify Email</div>
            <div class="button m-0 dark pt-2 pb-2 position-relative centerHorizontal w-75 text-center mb-4"
                onclick="resendValidation()">
                Resend Activation Email
            </div>
            <div class="overflow-auto position-relative centerHorizontal w-75 p-1 pt-2 pb-2 white"
                id="loginButtonContainer">
                <div class="float-left" onclick="showForgotPassword()">Forgot your password?</div>
                <div class="float-right" onclick="showSignIn()">Sign In</div>
            </div>
        </div>

        <div id="forgotPasswordForm" class="position-relative centerVertical animated fadeIn d-none">
            <div class="mb-4 text-center loginViewHeader">Forgot Password</div>
            <input type="email" placeholder="Email Address"
                class="dark dropdownInput m-0 w-75 position-relative centerHorizontal mt-1 mb-1" required
                result="email" />
            <div class="button m-0 dark pt-2 pb-2 position-relative centerHorizontal w-75 text-center mb-4"
                onclick="forgotPassword()">
                Submit
            </div>
            <div class="overflow-auto position-relative centerHorizontal w-75 p-1 pt-2 pb-2 white"
                id="loginButtonContainer">
                <div class="float-left" onclick="showSignUp()">Sign Up</div>
                <div class="float-right" onclick="showSignIn()">Sign In</div>
            </div>
        </div>

        <div id="changePasswordForm" class="position-relative centerVertical animated fadeIn d-none">
            <div class="mb-4 text-center loginViewHeader">Change Password</div>
            <div class="row w-75 position-relative centerHorizontal m-0 mb-1">
                <input type="password" placeholder="Password" class="col dark dropdownInput m-0 m-0 showHidePassword"
                    required result="password" />
                <div class="button m-0 dark pt-2 pb-2 secondary" id="showHide_3"
                    onclick="showHidePassword('showHide_3')">
                    <i class="fa fa-eye"></i>
                </div>
            </div>
            <div class="button m-0 dark pt-2 pb-2 position-relative centerHorizontal w-75 text-center mb-4"
                onclick="changePassword()">
                Change Password
            </div>
            <div class="overflow-auto position-relative centerHorizontal w-75 p-1 pt-2 pb-2 white"
                id="loginButtonContainer">
                <div class="float-left" onclick="showSignUp()">Sign Up</div>
                <div class="float-right" onclick="showSignIn()">Sign In</div>
            </div>
        </div>
    </div>


</div>