.sectionHeader{
    font-family: baloo;
    font-size: 1.3em;
}

#userIcon{
    padding: 1em;
    background-color: whitesmoke;
    border-radius: 50%;
    border: 1px solid grey;
    height: 3.5em;
    width: 3.5em;
    text-align: center;
    overflow: hidden;
}