<div id="settingsPage" class="page">
    <div class="pageBody section m-0">
        <div class="row m-0 p-0 w-100">
            <div class="col-3">
                <div id="userIcon">
                    <i class="fa fa-user"></i>
                </div>
            </div>
            <div class="col-9 fadeIn" id="settingsLoginButtonContainer">
            </div>
        </div>
        <hr>
        <div class="sectionHeader mb-3 pl-2">General</div>
        <table class="invisibleTable w-100">
            <tr>
                <td class="text-left">Show Quotes While Training</td>
                <td>
                    <label class="switch">
                        <input type="checkbox" id="showQuoteInput" onchange="showQuote(event)">
                        <span class="slider"></span>
                    </label>
                </td>
            </tr>
            <tr id="showQuoteIntervalSlider" class="d-none fadeIn">
                <td>
                    <input type="range" step="5" min="45" max="600" value="1" class="w-75 position-relative"
                        style="left:-12.5%;" onchange="showQuoteIntervalInput(event)" id="showQuoteIntervalInput">
                </td>
                <td id="showQuoteIntervalValue">
                    0min
                </td>
            </tr>
        </table>
        <hr>
        <div class="sectionHeader mb-3 pl-2">Backup & Restore</div>
        <div class="row m-0 p-0">
            <div class="col">
                <div class="button loginRequiredSettingsButton secondary p-3 square w-100 fa fa-upload"
                    onclick="backup()"></div>
            </div>
            <div class="col">
                <div class="button loginRequiredSettingsButton secondary p-3 square w-100 fa fa-download"
                    onclick="restore()"></div>
            </div>
        </div>
        <div class="button dark secondary" onclick="resetDatabase()">Reset All Data</div>
        <hr>
        <div class="sectionHeader mb-3 pl-2">Sound & Vibration</div>
        <table class="invisibleTable w-100">
            <tr>
                <td class="text-left">Vibrate after each Workout </td>
                <td>
                    <label class="switch">
                        <input type="checkbox" id="workoutVibrateInput" onchange="workoutVibrate(event)">
                        <span class="slider"></span>
                    </label>
                </td>
            </tr>
            <tr id="workoutVibrateSlider" class="d-none fadeIn">
                <td>
                    <input type="range" step="0.5" min="0.5" max="10" value="1" class="w-75 position-relative"
                        style="left:-12.5%;" onchange="workoutVibrateDurationInput(event)"
                        id="workoutVibrateDurationInput">
                </td>
                <td id="workoutVibrateDurationValue">
                    0s
                </td>
            </tr>
            <tr>
                <td class="text-left">Vibrate after each Round</td>
                <td>
                    <label class="switch">
                        <input type="checkbox" id="roundVibrateInput" onchange="roundVibrate(event)">
                        <span class="slider"></span>
                    </label>
                </td>
            </tr>
            <tr id="roundVibrateSlider" class="d-none fadeIn">
                <td>
                    <input type="range" step="0.5" min="0.5" max="10" value="1" class="w-75 position-relative"
                        style="left:-12.5%;" onchange="roundVibrateDurationInput(event)" id="roundVibrateDurationInput">
                </td>
                <td id="roundVibrateDurationValue" class="text-center">
                    0s
                </td>
            </tr>
        </table>
        <hr>
        <div class="sectionHeader mb-3 pl-2">Workout</div>
        <p>The delay between each workout, i.e., the amount of time it takes you to adjust to the new workout position
        </p>
        <table class="tableInvisible w-100">
            <tr>
                <td class="w-75">
                    <input type="range" step="1" min="0" max="20" value="0" class="w-75 position-relative"
                        onchange="workoutLeadDuration(event)" id="workoutLeadDurationInput" style="left:-12.5%;">
                </td>
                <td id="workoutLeadDurationValue" class="text-center">
                    0s
                </td>
            </tr>
        </table>

    </div>
    <div class="pageFooter row m-0 w-100">
        <div class="button primary footerButton m-0 col square fa fa-backward shadow"
            onclick="changePage('workouts', null, false)">
        </div>
    </div>
</div>