<div id="runPage">
    <div class="pageBody">
        <div class="d-flex flex-column" id="runContainer">
            <div class="section pt-0 m-0 runPage" id="runDetails">
                <h1 id="countDown" class="mt-3 mb-3"></h1>
                <div class="d-flex mb-2">
                    <div id="workoutName" class="word-break w-100 text-right"></div>
                    <div id="workoutNameNext" class="singleLine w-50"></div>
                </div>
                <div class="d-flex" id="timeContainer">
                    <div id="totalTimeElapsed" class="w-100 text-center p-2"></div>
                    <div id="totalTimeRemaining" class="w-100 text-center p-2"></div>
                </div>

                <div id="round" class="pd-10">1</div>
                <div class="d-flex w-100">
                    <div class="button pb-4 pt-4 w-100 secondary fa fa-pause" onclick="runPause()" id="runPause"></div>
                    <div class="button pb-4 pt-4 w-100 secondary fa fa-redo-alt" onclick="runRestart()" id="runRestart">
                    </div>
                </div>

            </div>
            <div class="section quoteSection m-0" id="runQuote">
                <i class="fa fa-quote-left mr-2"></i>
                <span id="quoteBody">When I was 40, my doctor advised me that a man in his 40s shouldn't play tennis. I
                    heeded his advice carefully and could hardly wait until I reached 50 to start again.</span>
                <i class="fa fa-quote-right ml-2"></i>
                <div id="quotePerson" class="w-100 text-right pr-2">~Hugo Black</div>
            </div>
        </div>

    </div>
    <div class="pageFooter">
        <div class="button secondary dark footerButton m-0 col square fa fa-backward" onclick="runBack()">
        </div>
    </div>

</div>