#runPage {
    width: 100%;
    overflow: scroll;
    background-color: black;
    background: url("../../assets/img/workout3.jpg");
    background-position: 30% 0;
    background-size: cover;
    overflow-y: scroll;
    font-family: dosis;
    height: 100vh;
    color: grey;
}

#workoutName {
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-family: fantasy;
    font-size: 13vw;
    line-height: 100%;
}

#countDown {
    font-size: 30vw;
}

#runDetails {
    font-size: 2em;
}

#runContainer {
    height: 100%;
    overflow: hidden;
}

#runQuote {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#quoteBody {
    font-style: italic;
    font-family: karla;
}

.section {
    transition: background-color 500ms ease-in-out, color 1000ms ease-in-out;
}

.section.runPage {
    background-color: rgba(23, 100, 117, 0.8);
    color: white;
}

#round {
    position: absolute;
    top: 3px;
    left: 3px;
    padding: 5px;
    font-size: 25px;
    background-color: #81a2cb;
    color: white;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    text-align: center;
    font-family: baloo;
}

.section.restRun {
    background-color: rgba(255, 255, 255, 0.67);
    color: black;
}

.section.restRun>div>#workoutName {
    color: black;
}

.section.leadTime {
    background-color: rgba(92, 117, 23, 0.8);
    color: white;
}

.section.leadTime>div>#workoutName {
    color: black;
}

#timeContainer {
    font-size: 0.7em;
}